<div>
    <br><h1><%= "Meet #{@user.username}"%></h1><br>
    <%= image_tag @user.avatar, class: "avatar" %>
    <h3>Username: <%= @user.username  %></h3>
    <h3>Location: <%= @user.location %></h3>
    <h3>Quote: <%= @user.user_quote %></h3>
    <h4>A little bit about <%= @user.username%>: <%= @user.user_description %></h4>
    <h3>Post counter: <%= @user.posts.length %></h3><br>
</div>

<h1><%= @user.username %>'s Posts:</h1>
<div> 
    <% @user.posts.each do |post| %>
        <div>
            <p>Posted by: <%= post.user.username %></p>
            <h3><% post.user.location %></h3>
            <h3><%= post.title %></h3><br>
            <p><%= post.description %></p>
            
            <% if current_user == post.user %>
                <%= button_to "Delete", post, method: :delete %>
                <%= link_to "Edit", edit_post_path %>
            <% end %> 
            
        </div>

        <a href="<%= "/posts/#{post.id}" %>">
        <div><%= image_tag post.image, class: "post_images" %></div>
        </a>

    <% end %>
</div>
