<br><h1>Current Posts</h1><br>

<div class="container">
    <% @posts.each do |post| %>
        <div class="card">
            <div class="card-img-top"><%= image_tag post.image, class: "card-img" %></div>
                <div class="card-body">
                    <h3 class="card-title"><%= post.title %></h3>
                    <div class="card-text">$<%= post.price %></div>
                    <div class="card-text"><%= post.user.username %></div>
                    <div class="card-img"><%= image_tag post.user.avatar, class: "avatar" %></div>
                </div>
            </div>
        </div>
    <% end %>   
</div>
