<div class="edit-form">
  <h1 >New Post</h1><br><br>
    <%= form_with model: @post do |f| %>
      <p>
        <%= f.label :price, class: "edit-user-text-1" %><br>
        <%= f.number_field(:price, required: true) %>
      </p>
    
      <p>
        <%= f.label :title, class: "edit-user-text-2" %><br>
        <%= f.text_field :title, required: true %>
      </p>

      <p>
        <%= f.label :description, class: "edit-user-text-3" %><br>
        <%= f.text_area :description, required: true %>
      </p>

      <p>
        <%= f.label :image, class: "edit-user-text-4" %>
        <%= f.file_field :image %>
      </p><br
      
      <p>
        <%= f.submit %>
      </p>
    <% end %>
</div>