<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TwoWheeledBS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <p class="navbar-text">
    <% if user_signed_in? %>
      
      <div>
        <strong><%= current_user.username %></strong>
        <%= link_to "Home", "/posts", :class => 'navbar-link' %> |
        <%= link_to "New Post", "/posts/new", :class => 'navbar-link' %> |
        <%= link_to 'Edit Profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> 
      </div>

    <% else %>
      <p>Think of something to go here when not logged in</p>
    <% end %>

    <%= yield %>

  </body>
</html>
